article{
  width: 100%;
  max-width: 1030px;
  height: 85vh;
  padding: 8.5% 4% 60px;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  text-align: center;
  font-size: 18px;
}

p{
  font-weight: normal;
}

strong{
  font-weight: bold;
}

.buttons{
  width: 100%;
  display: flex;
  padding-top: 8%;
  flex-direction: row;
  justify-content:space-between;
}

@media screen and (max-width:1281px){
  article{
    top: 25%;
    max-height:640px;
  }
}

@media screen and (max-width:1120px){
  article{
    max-width: 800px;
    height: auto;
    max-height:1250px;
    top: 30%;
    left: 50%;
  }

  .buttons{
    width: 100%;
    flex-direction: column;
    gap:30px;
    align-items: center;
    padding-top:12% ;
  }
}


@media screen and (max-width:923px){
  article{
    max-width: 850px;
    height: auto;
    max-height:1250px;
    top: 15%;
    left: 50%;
  }

  article p {
    font-size:2.2rem;
  }
}

@media screen and (max-height:740px){
  article{
    top: 25%;
  }

  article p {
    font-size:2.2rem;
  }
}

@media screen and (max-width:891px){
  article{
    max-width: 600px;
    max-height:1100px;
  }

  article p {
    font-size:1.8rem;
  }

  .buttons{
    padding-top: 16%;
  }

}

@media screen and (max-width:541px){
  article{
    max-width: 450px;
    height: auto;
    max-height:680px;
    top: 18%;
    left: 50%;
  }

  article p {
    font-size:1.5rem;
  }

  .buttons{
    width: 100%;
    flex-direction: column;
    gap:30px;
    align-items: center;
    padding-top:8% ;
  }
}

@media screen and (max-width:415px){
  article{
    max-width: 370px;
    max-height:780px;
  }

  article p {
    font-size:1.4rem;
  }

  .buttons{
    width: 100%;
    flex-direction: column;
    gap:30px;
    align-items: center;
    padding-top:16% ;
  }
}

@media screen and (max-width:412px){
  article{
    max-height: 820px;
    top: 12%;
    left: 50%;
  }

  .buttons{
    padding-top:20% ;
  }
}

@media screen and (max-width:376px){
  article{
    max-width: 340px;
    height: auto;
    max-height:680px;
    top: 15%;
    left: 50%;
  }

  .buttons{
    padding-top:20% ;
  }
}

@media screen and (max-width:361px) {
  .buttons{
    padding-top: 8%;
  }
}


@media screen and (max-width:281px){
  article{
    max-width: 250px;
    max-height:680px;
  }
}
