article{
  width: 100%;
  max-width: 1030px;
  min-height: 85vh;
  padding: 115px 4% 60px;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  text-align: center;
  font-size: 18px;
}

p{
  font-weight: normal;
}

strong{
  font-weight: bold;
}

.buttons{
  width: 100%;
  display: flex;
  position: relative;
  top:70px;
  flex-direction: row;
  justify-content:space-between;
}
