nav{
  position: relative;
  right: 90px;
}

nav a{
  text-decoration:none;
  color: #8b8b8b;
  margin: 0 25px;
}

.active{
  text-decoration: underline;
  text-decoration-color: #f19423;
  border-bottom: 3px solid transparent;
  text-underline-offset: 10px;
  color: #393939;
}
