nav{
  position: relative;
  right: 20px;
}

nav .menuDesktop {
  display: flex;
  list-style: none;
}

nav .menuDesktop a{
  text-decoration:none;
  color: #8b8b8b;
  margin: 0 25px;
}

.active{
  text-decoration: underline;
  text-decoration-color: #f19423;
  border-bottom: 3px solid transparent;
  text-underline-offset: 10px;
  color: #393939;
}

@media screen and (max-width:921px){
  .menuDesktop{
    display: none !important;
  }
}

