.userWrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.userLogin{
  padding-top: 5px;
  padding-left: 10px;
}
.userWrapper img{
  cursor: pointer;
}

h4{
  color: #686868;
}

.userLogin p{
  text-decoration: underline;
  text-decoration-color:#ef9c3c;
  cursor: pointer;
  font-size:0.8rem;
  color: #ef9c3c;
  margin-left: 30px;
  margin-top: 2px;
  font-weight: 500 !important;
}
