.userWrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.userLogin{
  padding-top: 5px;
  padding-left: 10px;
}

.userWrapper img{
  cursor: pointer;
}

h4{
  color: #686868;
}

.userLogin p{
  text-decoration: underline;
  text-decoration-color:#ef9c3c;
  cursor: pointer;
  font-size:0.8rem;
  color: #ef9c3c;
  margin-left: 30px;
  margin-top: 2px;
  font-weight: 500 !important;
}

@media screen and (max-width:921px){
  .userWrapper{
    align-items: center;
    justify-content: space-evenly;
  }

  .userWrapper img{
    width: 65px;
    height: 65px;
  }

  .userLogin h4{
    font-size: 1.7rem;
    margin-left: 20px;
  }

.userLogin p{
  font-size:1.4rem;
  margin-left: 50px;
}

}

@media screen and (max-width:541px){
  .userWrapper img{
    width: 45px;
    height: 45px;
  }


  .userLogin h4{
    font-size: 1.1rem;
    margin-left: 10px;
  }

.userLogin p{
  font-size:0.8rem;
  margin-left: 20px;
}

}

@media screen and (max-width:376px){
  .userWrapper img{
    width: 25px;
    height: 25px;
  }

}


@media screen and (max-width:415px){
  .userWrapper img{
    width: 35px;
    height: 35px;
  }

  .userWrapper h4, .userWrapper p{
    display: none;
  }

}

@media screen and (max-width:376px){
  .userWrapper img{
    width: 25px;
    height: 25px;
  }

}

@media screen and (max-width:361px){
  .userWrapper img{
    width: 32px;
    height:32px ;
  }
}
