.reportBtn{
  width:100% ;
  max-width: 278px;
  height: 250px;
  padding: 70px 2% 15px;
  background-image: linear-gradient(to bottom,  #fefefe 10%, #ebebeb  90%);
  border: 1px solid rgba(231, 231, 231, 0.6);
  border-radius: 25px;
}

.reportBtn p{
  margin-top: 37px;
  font-weight: bold;
  color: #494949;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
