footer{
  width: 100%;
  text-align: center;
  background-color: #111111;
  color: white;
  padding: 18px 2%;
  font-size: 0.75rem;
  font-weight: bold;
}

h4 strong{
  color: #d57f1d;
}

@media screen and (max-width:1281px){
  footer{
    padding: 40px;
    font-size: 1.4rem;  }
}

@media screen and (max-width:921px){
  footer{
    padding: 50px;
    font-size: 1.8rem;  }
}

@media screen and (max-width:821px){
  footer{
    font-size: 1.5rem;  }
}

@media screen and (max-width:541px){
  footer{
    padding: 25px;
    font-size: 1.08rem;
  }
}
