
.logo{
  width: 210px;
  height: 41px;
}

@media screen and (max-width:912px){
  .logo{
    width: 300px;
    height: 60px;
  }
}

@media screen and (max-width:821px){
  .logo{
    width: 250px;
    height: 50px;
  }
}

@media screen and (max-width:541px){
  .logo{
    width: 200px;
    height: 40px;
  }
}

@media screen and (max-width:415px){
  .logo{
    width: 200px;
    height: 40px;
  }
}

@media screen and (max-width:375px){
  .logo{
    width: 25px;
    height: 15px;
  }
}

@media screen and (max-width:361px){
  .logo{
    width: 180px;
    height:40px;
  }
}
